body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    text-align: justify;
    background-color: black;
    margin-bottom: 75px;
    scrollbar-color: rgb(61, 22, 22) #f1f1f100;
}

header {
    position: relative;
    max-width: 80%;
    left: 20%;
    background-color: rgb(32, 11, 11);
    border-radius: 5px 5px 0 0;
    height: 73px;
}

header .menu {
    text-align: right;

}

header .menu a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-right: 10px;
    font-weight: bold;
}

header .menu a:hover {
    transform: scale(1.1);
}

header {
    width: 100%;

}


header ul {
    background-color: rgb(32, 11, 11);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

header ul li {

    margin-right: 1.5%;
}

header ul li img {
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}


header .menu2 {


    position: absolute;
    right: 0;
    z-index: 2;


    width: 200px;
    height: 400px;
    background-color: red;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

.contenedor-left {
    width: 40vh;
    height: 77vh;
    align-items: center;
    padding-top: 0.5%;
    position: fixed;
    top: 0;
}

.contenedor-left .miniMenu,
.contenedor-left .llistesUsuaris,
.contenedor-left .fakeFooter {
    background-color: rgb(36, 34, 34);
    padding: 1%;
    border-radius: 5px;
    max-width: 90%;
    margin-left: 2%;
    color: white;
}

.contenedor-left .miniMenu a,
.contenedor-left .llistesUsuaris a {
    text-decoration: none;
    color: white;
}

.contenedor-left .miniMenu ul {
    list-style: none;
    line-height: 2.5em;
    padding-left: 2%;
}

.contenedor-left .miniMenu ul i {
    margin-right: 10px;
}

.contenedor-left .miniMenu img {
    height: 20px;
}

.contenedor-left #primera {
    padding: 1%;
    background-color: rgb(59, 59, 59);
    max-width: 90%;
    border-radius: 5px;
    margin-left: 2%;
}

.contenedor-right {
    position: relative;
    padding: 1%;
    background: linear-gradient(rgb(32, 11, 11), #000000);
    max-width: 78%;
    left: 20%;
    border-radius: 0 0 5px 5px;
    height: 77vh;
}

.contenedor-right #taula {
    display: grid;
    grid-template-columns: repeat(6, 16%);
}

.contenedor-right h2 {
    max-height: 40px;
    margin-bottom: 0;
    color: white;
}

.contenedor-right p {
    color: white;
}

.contenedor-right .songs {
    position: relative;
    margin-top: 10px;
    max-width: 80%;
    background-color: #151414;
    padding: 1%;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.contenedor-right .songs img {
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 150px;
}

.contenedor-right .songs .icono {
    background-color: #39222263;
    position: absolute;
    top: 50%;
    left: 65%;
    height: 35px;
    width: 35px;
    border-radius: 60%;
    display: none;
}

.contenedor-right .songs:hover {
    background-color: #272225;
}

.contenedor-right .songs:hover .icono {
    display: block;
    cursor: pointer;
}

.reproductor-musica {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: 1;
}

audio {
    width: 70%;
    margin-left: auto;
}

.reproductor-info {
    display: flex;
    align-items: center;
}

.reproductor-info img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.reproductor-info .info-text h4,
.reproductor-info .info-text p {
    margin: 0;
    color: white;
}

.reproductor-info .info-text p {
    font-size: 14px;
}


footer {
    margin-top: 5px;
    width: 100%;
    height: 75px;
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
}

.reproductor-contenido {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.volume-container {
    left: 80%;
    display: flex;
    position: absolute;
    text-align: center;

    #volumeSlider {
        max-width: 400px;
        width: 100%;
        height: 18px;
        appearance: none;
        background-color: rgb(250, 250, 250);
        cursor: pointer;
        overflow: hidden;
        border-radius: 25px;
    }

    #volumeSlider::-webkit-slider-thumb {
        appearance: none;
        height: 18px;
        width: 18px;
        background-color: #464646;
        border-radius: 50%;
        border: 2px solid white;
    }
}

.music-player-container {
    background: linear-gradient(30deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85));
    height: fit-content;
    width: 35vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);

    /* Center the music-player-container */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.title-music-container {
    width: 80%;
    height: 80%;
    width: fit-content;
    color: white;
    margin-right: auto;
    margin-left: 10%;
}

.song-title {
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.5px;
}

.song-author {
    margin-top: 0.1rem;
    font-size: 12px;
    color: rgb(167, 167, 167);
    letter-spacing: 0.1px;
}

.controls-music-container {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-song-container {
    margin-top: 0.6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-bar {
    height: 3px;
    border-radius: 3px;
    width: 100%;
    background-color: rgb(102, 102, 102);
    position: relative;
}

.progress {
    position: absolute;
    height: 100%;
    width: 0%;
    border-radius: 3px;
    background-color: white;
}

.time-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(167, 167, 167);
    font-size: 12px;
}

.time-left {
    margin-top: 0.3rem;
}

.main-song-controls {
    height: 30px;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    height: 100%;
    width: auto;
    opacity: 0.6;
    cursor: pointer;
}

.icon:hover {
    opacity: 1;
}

audio {
    display: none;
}

.perfil-dropdown {
    position: relative;
    display: inline-block;
}

.perfil-dropdown img {
    height: 30px;
    /* Ajusta el tamaño de la imagen según tus necesidades */
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-right: 20px;
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 73px;
    right: 20px;
    background-color: #151414;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    height: 100%;
    width: 160px;
    border-radius: 5px;
}

.dropdown-list a {
    display: block;
    padding: 8px;
    width: 90%;
}

.dropdown-list li:hover {
    background-color: #494545;
}

.dropdown-list li {
    display: flex;
    align-items: center;
}

.dropdown-list li img {
    height: 15px;
    border-radius: 0%;
    margin-right: 8px;
    margin-left: 8px;
}