body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    text-align: justify;
}


header{
    position: relative;
    max-width: 80%;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.575);
    .menu{
        padding: 1%;
        text-align: right;
        a{
            text-decoration: none;
            color: white;
            font-size: 17px;
            margin-right: 10px;
            font-weight: bold;
        }
        a:hover{
            transform: scale(1.1);
        }
        button{
            display: inline-block;
            padding: 10px 20px; /* Puedes ajustar el relleno según tus necesidades */
            font-size: 16px; /* Puedes ajustar el tamaño de la fuente según tus preferencias */
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border: 2px solid #3498db; /* Puedes ajustar el color del borde según tus preferencias */
            border-radius: 25px; /* Este valor determina la cantidad de redondeo; puedes ajustarlo según tus preferencias */
            background-color: #3498db; /* Puedes ajustar el color de fondo según tus preferencias */
            color: #ffffff;
        }
        button:hover{
            transform: scale(1.1);
        }
        
    }
}
.contenedor-left {
    max-width: 20%;
    min-height: 100%;
    background-color: black;
    align-items: center;
    padding-top: 1%;
    position: fixed;
    top: 0;
    .miniMenu {
        background-color: rgb(238, 255, 0);
        padding: 1%;
        border-radius: 5px;
        max-width: 90%;
        margin-left: 2%;
        ul {
            list-style: none;
            line-height: 2.5em;
            i{
                margin-right: 10px;
            }
        }

        img {
            height: 20px;
            
        }
    }

    .llistesUsuaris {
        background-color: orange;
        padding: 1%;
        border-radius: 5px;
        max-width: 90%;
        margin-left: 2%;
        #primera{
            padding: 1%;
            background-color: rgb(255, 38, 0);
            max-width: 90%;
            border-radius: 5px;
            margin-left: 2%;
            button{
                display: inline-block;
                padding: 10px 20px; /* Puedes ajustar el relleno según tus necesidades */
                font-size: 16px; /* Puedes ajustar el tamaño de la fuente según tus preferencias */
                font-weight: bold;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                border: 2px solid #3498db; /* Puedes ajustar el color del borde según tus preferencias */
                border-radius: 25px; /* Este valor determina la cantidad de redondeo; puedes ajustarlo según tus preferencias */
                background-color: #3498db; /* Puedes ajustar el color de fondo según tus preferencias */
                color: #ffffff;
            }
            button:hover{
                transform: scale(1.1);
            }
        }
    }
    .fakeFooter{
        background-color: white;
        max-width: 90%;
        padding: 1%;
        border-radius: 5px;
        margin-left: 2%;
    }
}
footer{
    text-align: center;
    background-color: pink;
    padding: 0.4%;
    position: fixed;
    bottom: 0;
    width: 100%;
}