body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: black;
  margin: 0;
  text-align: justify;
}

header {
  text-align: center;
  background-color: rgb(36, 34, 34);
  padding: 10px;
  color: white;
}

.textoIntro {
  color: white;
  max-width: 70%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  h1 {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to left, #11ff00, #00aeff);
    display: inline-block;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  p {
    line-height: 1.5;
  }
}



.comparison-table {
  max-width: 30%;
  margin: 50px auto;
  overflow: hidden;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}


th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  text-transform: uppercase;
}

th:nth-child(3),
td:nth-child(3) {
  background: linear-gradient(to left, #11ff00, #00aeff);
  /* Puedes ajustar los colores del degradado según tus preferencias */
}
th:nth-child(2){
  background-color: white;
  color: black;
}


tbody tr:hover {
  background-color: #535151;
}

section {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  color: white;
  width: 99%;

}

.plan {
  border-style: solid;
  border-image: linear-gradient(to left, #11ff00, #00aeff);
  border-image-slice: 1;
  border-radius: 8px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: rgb(36, 34, 34);
}

.plan:hover {
  transform: scale(1.03);
}

h2 {
  color: #11ff00;
}

ul {
  list-style-type: none;
  padding: 0;
}

.ventajas,
.desventajas {
  margin-top: 10px;
}

footer {
  margin-top: 30px;
  text-align: center;
  width: 100%;
  color: #888;
}